<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Open Trivia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-button (click)="generateCat()">Générer une photo</ion-button>
  <img [src]="imgCat" alt="cat" height="150"> -->

  <form>
    <div [ngClass]="'form-div'">
      <ion-label>Pseudo</ion-label>
      <ion-input [(ngModel)]="pseudo" [ngModelOptions]="{standalone: true}"></ion-input>
    </div>
    <div [ngClass]="'form-div'">
      <label>Difficulté</label>
      <ion-select [(ngModel)]="difficulty" [ngModelOptions]="{standalone: true}">
        <ion-select-option *ngFor="let level of listLevels">{{ level }}</ion-select-option>
      </ion-select>
    </div>
    <div [ngClass]="'form-div'">
      <label>Questions</label>
      <ion-input [(ngModel)]="amount" type="number" [ngModelOptions]="{standalone: true}"></ion-input>
    </div>
    <ion-toggle [(ngModel)]="keepInfos" [ngModelOptions]="{standalone: true}">Sauvegarder mes informations</ion-toggle>

    <ion-alert [isOpen]="isAlertOpen" header="Information manquante" message="{{ errorMsg }}" (didDismiss)="alertOpen(false)" [buttons]="alertButtons"></ion-alert>
    <ion-button (click)="verifyInfos()" color="tertiary">Commencer</ion-button>
  </form>

  <ion-toast [isOpen]="isToastOpen" message="{{ toastMsg }}" (didDismiss)="toastOpen(false)" duration="5000"></ion-toast>
</ion-content>
