<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <h2>Interpolation</h2>
    <app-title></app-title>

    <h2>Liaison par évènement (event binding)</h2>
    <button (click)="clickMe()">Click me</button>

    <h2>Liaison par propriété (property binding)</h2>
    <img [src]="srcImg" [alt]="altImg" height="150">

    <h2>Liaison à double sens (two-ways binding)</h2>
    <label>Entrez du texte :</label>
    <input type="text" [(ngModel)]="myText">
    <p>{{ myText }}</p>

    <h2>Les directives structurelles</h2>
    <h5 *ngIf="listFruits.length > 0">Liste des fruits :</h5>
    <ul>
      <li *ngFor="let fruit of listFruits">{{ fruit }}</li>
    </ul>

    <p [ngClass]="'high-ground'">Lorem ipsum dolor sit amet</p>
  </ion-content>
</ion-content>
