<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Open Trivia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form *ngIf="isError">
    <div [ngClass]="'form-div'">
      <ion-label>Pseudo</ion-label>
      <ion-input [(ngModel)]="pseudo" [ngModelOptions]="{standalone: true}"></ion-input>
    </div>
    <div [ngClass]="'form-div'">
      <label>Difficulté</label>
      <ion-select>
        <ion-select-option *ngFor="let level of listLevels">{{ level }}</ion-select-option>
      </ion-select>
    </div>
    <div [ngClass]="'form-div'">
      <ion-toggle [(ngModel)]="keepInfos" [ngModelOptions]="{standalone: true}">Sauvegarder mes informations</ion-toggle>
    </div>

    <ion-alert [isOpen]="isAlertOpen" header="Information manquante" message="{{ errorMsg}}" (didDismiss)="alertOpen(false)" [buttons]="alertButtons"></ion-alert>

    <ion-button (click)="verifyInfos()">Commencer</ion-button>
  </form>

  <div *ngIf="!isError">
    <h1>Bienvenue {{ pseudo }}</h1>

    <ion-text>{{ question }}</ion-text>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let r of replies" size="6">
          <ion-button (click)="verifyAnswer(r)" [color]="isAnswered ? (r==answer ? 'success' : 'danger') : 'primary'" disabled={{isDisabledQuestion}} expand="full">{{ r }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button *ngIf="isNextQuestion" (click)="nextQuestion()">Question suivante</ion-button>
    <ion-button *ngIf="isReplay" (click)="replay()">Rejouer</ion-button>

    <ion-toast [isOpen]="isToastOpen" message="{{ toastMsg }}" (didDismiss)="toastOpen(false)" duration="5000"></ion-toast>
  </div>
</ion-content>
